<header class="page-header">
  <div class="container">
    <div
      class="page-header__content">
      <!-- Logo and Site Name -->
     <a href="/" class="logo-container">
  {# <img src="dd-game-logo.png" class="site-logo"> #}
  <span class="site-name">DD Games Apps</span>
</a>

      <!-- Navigation -->
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/index/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>