<header class="page-header">
  <div class="container">
    <div
      class="page-header__content">
      <!-- Logo and Site Name -->
      <a href="https://ddgamesapps.in/" class="logo-container">
        <img src="assets/blog/dd-game-logo.png" class="site-logo"> DD Games Apps
      </a>
      <!-- Navigation -->
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="https://ddgamesapps.in/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>